
<div style="text-align:center">
<h1>R & D Tech Upgrade Angular</h1>
</div>
<nav>
  <a [routerLink]="['/dnd']" routerLinkActive="active" style="margin: 10px;" >Drag And Drop</a>
  <a [routerLink]="['/dropdown']" routerLinkActive="active" style="margin: 10px;">Dropdown</a>
  <a [routerLink]="['/ckeditor']" routerLinkActive="active" style="margin: 10px;">ckEditor</a>
  <a [routerLink]="['/googlemaps']" routerLinkActive="active" style="margin: 10px;">Google Maps</a> 
  <a [routerLink]="['/matmaps']" routerLinkActive="active" style="margin: 10px;">Material Maps</a> 
</nav>
<button type="button"  style="margin: 10px;" (click)="fullscreen()">Fullscreen</button>
<router-outlet></router-outlet>