
<div style="text-align:center">
<h1>R & D Tech Upgrade Angular</h1>
</div>
<nav>
  <a [routerLink]="['/dnd']" routerLinkActive="active" style="margin: 10px;" >Drag And Drop</a>
  <a [routerLink]="['/dropdown']" routerLinkActive="active" style="margin: 10px;">Dropdown</a>
  <a [routerLink]="['/ckeditor']" routerLinkActive="active" style="margin: 10px;">ckEditor</a>
  <a [routerLink]="['/googlemaps']" routerLinkActive="active" style="margin: 10px;">Google Maps</a> 
  <a [routerLink]="['/matmaps']" routerLinkActive="active" style="margin: 10px;">Material Maps</a> 
  <a [routerLink]="['/datetime']" routerLinkActive="active" style="margin: 10px;">Date Time Picker</a> 
  <a [routerLink]="['/taginput']" routerLinkActive="active" style="margin: 10px;">Tag Input</a> 
  <a [routerLink]="['/recaptcha']" routerLinkActive="active" style="margin: 10px;">reCaptcha</a> 
  <a [routerLink]="['/cropimage']" routerLinkActive="active" style="margin: 10px;">Image Cropper</a> 
  <a [routerLink]="['/highchart']" routerLinkActive="active" style="margin: 10px;">Highchart(Chart.js)</a>   
</nav>
<button type="button"  style="margin: 10px;" (click)="fullscreen()">Fullscreen</button>
<router-outlet></router-outlet>